# Byte-compiled / optimized / DLL files
__pycache__/
build/
.vscode
saida/*
output/*
plyFiles/*
*.ply
clusters_dbscan/*
fatias_txt/*
*.pos
*.txt
*.stl
*.alg
*.msh
/output
/input
.venv
.ccls-cache/
.idea/
CMakeCache.txt
CMakeFiles/
HexaMeshFromVTK.cbp
Makefile
Testing/
bin/
cmake-build-release/
cmake_install.cmake
hexa-mesh-from-VTK_vtk9